@import "./variables";

.banner{
  position: relative;
  text-align: center;

  img{
    max-height: 600px;
    min-height: 300px;
    width: 100%;
		object-fit: cover;
  }
}

.banner-title{
  color:$peach;
  top:30%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
