// import fonts here
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

@import "./global";

@import "~bootstrap/scss/bootstrap.scss";
@import "./banner.scss";
@import "./navbar.scss";
@import "./buttons.scss";

p{
  font-size: .75em;
  font-family: $primary-font;
  margin:.5em
}

span{
  font-size: 1.5em;
  font-weight: bold;
  font-family: $primary-font;
  margin:.5em
}

h1{
  font-size: 3em;
  font-family: $secondary-font;
  margin: .75em;
}

h2{
  font-size: 2.5em;
  font-family: $secondary-font;
  margin: 1em;
}

h3{
  font-size: 2em;
  font-family: $secondary-font;
  margin: 1em;
}

h4{
  font-size: 1.25em;
  font-family: $secondary-font;
  margin: 1em;
}
