// import fonts here
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

@import "./global";

@import "~bootstrap/scss/bootstrap.scss";
@import "./banner.scss";
@import "./navbar.scss";
@import "./buttons.scss";
@import "./footer.scss";
@import "./forms.scss";

body{
  background:$off-white;
}

p{
  font-size: 1.25em;
  font-family: $primary-font;
  text-align: center;
  margin:1.5em
}

span{
  font-size: 1.5em;
  font-weight: bold;
  font-family: $primary-font;
  margin:.5em
}

li{
  font-size: 1.25em;
  font-weight: bold;
  font-family: $primary-font;
  margin:.5em
}

.link{
  color:$navy-blue;
}

h1{
  font-size: 3em;
  font-family: $secondary-font;
  margin: .75em;
  text-align: center;
}

h2{
  font-size: 2.5em;
  font-family: $secondary-font;
  margin: 1em;
  text-align: center;
}

h3{
  font-size: 1.5em;
  font-family: $secondary-font;
  margin: 1em;
  text-align: center;
}

h4{
  font-size: 1.25em;
  font-family: $secondary-font;
  margin: 1em;
  text-align: center;
}

.iframe{
  text-align: center;
  margin: 10px;
}

.peach{
  background:$peach;
  padding: 1em;
}

.blue{
  background: $light-blue;
}

.sand{
  background: $sand;
  padding:1em;
}

.resource-cont{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.resource-item{
  display: inline-block;
  background:$light-blue;
  margin: 15px;
  padding: 1px;
  border-radius: 50px;
}

.logo-img:hover{
  opacity: .6;
}
